.container {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 10px;
  /* flex-direction: column; */
}

@media (min-width: 600px) {
  .container {
    flex-direction: column;
  }
}

@media (min-width: 800px) {
  .container {
    flex-direction: row;
  }
}

/* @media (max-width: 300px) {
  .container {
    flex-direction: row;
  }
} */
